---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--single-minimal">

    {% include browser-upgrade.html %}

    <div id="main" role="main">
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.author_profile %}
          {% include author-profile.html %}
        {% endif %}
        
        <div class="page__inner-wrap page__content-minimal">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
